h1{
    background: rgb(47, 47, 117);
    color: white;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 10px;

}

h5{
    background: rgb(177, 173, 173);
    border: solid rgb(73, 71, 71) 1px;
    padding: 5px;
}

.search{
    /* height:60vh; */
    margin-bottom: 25px;
}

.toparticle{
    height: 20vh;
    
}

#test{
    border: solid rgb(73, 71, 71) 1px;
    padding-bottom: 30px;
}

form{
    border: solid rgb(73, 71, 71) 1px;
    padding: 20px;
    height:
}

button{
    background:rgb(71, 70, 70);
    color: white;
    border: none;
    padding: 5px;
}

.row {
}

.footer{
    position: fixed;
    width: 100%;
    bottom:0;
    left: 0;
    text-align: center;
    padding: 2vh;
    border: solid rgb(73, 71, 71) 1px;

    

}